---
import { Badge } from "../ui/badge";

const primarySkills = ["typescript", "react", "rust", "c"];
const secondarySkills = ["web3", "devops", "system design", "autosar", "embedded software"];
---

<div class="m-auto flex h-fit w-full max-w-sm flex-row flex-wrap items-center justify-center gap-2">
  {
    primarySkills.map((skill) => (
      <div>
        <Badge className="pointer-events-none rounded-full">{skill}</Badge>
      </div>
    ))
  }
  {
    secondarySkills.map((skill) => (
      <div>
        <Badge className="pointer-events-none rounded-full" variant="secondary">
          {skill}
        </Badge>
      </div>
    ))
  }
</div>
