---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { AboutShort } from "@/components/about-short";

const title = "Andrei Voinea - Software Engineer";
const description = "Personal website of Andrei Voinea, a software engineer from Romania.";
---

<BaseLayout title={title} description={description}>
  <div class="flex min-h-screen flex-col">
    <Header />
    <main class="flex h-full w-full flex-1 flex-col items-center justify-evenly gap-4 py-8">
      <div class="flex flex-col gap-2">
        <AboutShort client:load />
      </div>
    </main>
    <Footer />
  </div>
</BaseLayout>
