---
import SocialLinks from "@/components/SocialLinks.astro";
---

<footer
  class="bg-muted/30 flex w-full flex-row items-center justify-between border-t px-4 py-4 font-mono backdrop-blur-sm"
>
  <div class="text-muted-foreground flex flex-row text-sm">keep building in the open</div>
  <SocialLinks
    class="gap-2 md:gap-8"
    iconClass="h-6 w-6"
    itemClass="text-foreground hover:text-primary transition-colors"
    labelPrefix="Open"
  />
</footer>
